{{ define "main" }}

{{ $path := ( print "data/arquitectos/" .File.TranslationBaseName ".json") }}

{{ $dataJ := getJSON $path }}

<h4 style="margin-top: 15px">{{ $dataJ.arquitecto }}</h4>

<h5>Detalles del Arquitecto</h5>
<form>
  <div class="row">
    <div class="six columns">
       <label for="idInput">ID</label>
       <input class="u-full-width" id="_id" type="text" value="{{ $dataJ._id }}" readonly/>
    </div>
    <div class="six columns">
       <label for="paisInput">Pais</label>
       <input class="u-full-width" id="pais" type="text" value="{{ $dataJ.pais }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for="nacimientoInput">Nacimiento</label>
       <input class="u-full-width" id="nacimiento" type="text" value="{{ $dataJ.nacimiento }}"  readonly/>
    </div>
    <div class="six columns">
       <label for="ocupacionInput">Ocupacion</label>
       <input class="u-full-width" id="ocupacion" type="text" value="{{ $dataJ.ocupacion  }}"  readonly/>
    </div>
  </div>
</form>

<h5>Edificios</h5>
<div class="row">
	{{ range $dataJ.edificios }}
	<div class="four columns">
		<figure>
		 <a href="/edificios/edificio_{{ .edificio_id }}">
	   <img width="100%" style="margin:20px; width:200px; height:150px;" src="{{( print "/edificios/edificio_" .edificio_id ".jpg")}}">
	  </a>
		<figcaption style="text-align: center">{{ .title }}</figcaption>
		</figure>
	</div>
	{{ end }}
</div>

{{ end }}