{{ define "main" }}

{{ $path := ( print "data/ciudades/" .File.TranslationBaseName ".json") }}

{{ $dataJ := getJSON $path }}

<div class="row">
	 <div class="six columns">
     <h4 style="margin-top: 15px">{{ $dataJ.ciudad }}</h4>
		 <h5>Detalle de Ciudades</h5>
       <label for="poblacionInput">Población</label>
       <input class="u-full-width" id="poblacion" type="text" value="{{ $dataJ.poblacion }}" readonly/>
   </div>
	 <div class="three columns">
		 <img width="100%" style="margin-left: 50%; width:200px; height:150px;" src="/ciudades/{{.File.TranslationBaseName}}.jpg"/>
	</div>
<div>

<div class="row">
    <div class="six columns">
       <label for="idInput">ID</label>
       <input class="u-full-width" id="_id" type="text" value="{{ $dataJ._id }}"  readonly/>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
       <label for="idiomaInput">Idioma</label>
       <input class="u-full-width" id="idioma" type="text" value="{{ $dataJ.idioma }}"  readonly/>
    </div>
    <div class="six columns">
       <label for="altitudInput">Altitud</label>
       <input class="u-full-width" id="altitud" type="text" value="{{ $dataJ.altitud  }}"  readonly/>
    </div>
  </div>


<h5>Edificios</h5>
<div class="row">
	{{ range $dataJ.edificios }}
	<div class="four columns">
		<figure>
		 <a href="/edificios/edificio_{{ .edificio_id }}">
	   <img width="100%" style="margin:20px; width:200px; height:150px;" src="{{( print "/edificios/edificio_" .edificio_id ".jpg")}}">
	  </a>
		<figcaption style="text-align: center">{{ .title }}</figcaption>
		</figure>
	</div>
	{{ end }}
</div>

{{ end }}