{{ define "main" }}
<h5>{{ .Title }}</h5>

<h6>Publisher's details</h6>
<table>
<tr><td><b>ID</b><td><td>{{ .Params.publisherId}}</td></tr>
<tr><td><b>Country</b><td><td>{{ .Params.country}}</td></tr>
<tr><td><b>Founded</b><td><td>{{ .Params.founded}}</td></tr>
<tr><td><b>Genere</b><td><td>{{ .Params.genere}}</td></tr>
</table>

<h6>Books published</H6>
    <ul>
      {{ range .Params.booksId }}
	     {{ $t := $.Site.GetPage .}}
		 <li><a href="/books/{{ .}}">{{ $t.Title }}</a></li>
      {{ end }}
    </ul>
	
<h6>History</h6>

{{ .Content }}
{{ end }}